@import '../scss/base.scss';

.alert-bg {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  display: none;
  width: 100%;
  height: 100%;
  background-color: $color-light-shadow;

  .alert-box {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 30%;
    max-width: 50%;
    padding: 0 40px;
    background-color: $color-white;
    border-radius: 4px;
    box-shadow: 0 0 60px $color-shadow;
    transform: translate(-50%, -50%);

    .alert-header {
      min-height: 60px;
      font-size: 1.5rem;
      font-weight: bold;
      line-height: 60px;
      text-align: center;

      .close {
        float: right;
      }
    }

    .line {
      width: 50%;
      margin: 0 auto;
      border: 1px solid $color-shadow;
      border-width: 1px 0 0;
    }

    .alert-content {
      min-height: 100px;
      max-height: 60vh;
      padding: 10px 0;
      overflow: auto;
      text-align: center;
    }

    .alert-footer {
      padding: 10px 0 30px;
      text-align: center;

      button {
        padding: 7px 22px;
        margin: 0 20px;
        color: $color-white;
        background-color: $color-blue;
        border: none;
        border-radius: 2px;

        &:hover {
          box-shadow: 0 0 10px $color-blue;
        }

        &:active {
          box-shadow: 0 0 1px $color-blue;
        }

        &.danger {
          background-color: $color-red;

          &:hover {
            box-shadow: 0 0 10px $color-red;
          }

          &:active {
            box-shadow: 0 0 1px $color-red;
          }
        }
      }
    }
  }
}
