@import '../scss/base.scss';

.card-info-box {
  $width: 350px;

  position: fixed;
  top: 0;
  right: -$width - 10px;
  z-index: 50;
  width: $width;
  height: 100vh;
  background-color: #fff;
  box-shadow: 0 0 10px $color-shadow;

  &.active {
    right: 0;
  }

  .title {
    text-align: center;

    button {
      padding: 0;
      margin: 0;
      border: none;

      svg {
        vertical-align: middle;
      }
    }

    .open-file,
    .open-file-folder {
      margin-left: 10px;
    }

    .close {
      float: left;
      margin-left: 20px;
      color: $color-blue;

      &:hover {
        color: darken($color: $color-blue, $amount: 20);
      }

      &:active {
        color: $color-blue;
      }
    }
  }

  .picture {
    display: flex;
    width: 100%;
    height: 170px;
    overflow: hidden;

    .card-box {
      margin: 0 10px;
    }
  }

  .line {
    margin: 15px;
  }

  .colors {
    width: 95%;
    margin: 10px auto;

    .color {
      position: relative;
      display: inline-block;
      width: calc(20% - 2px);
      height: 50px;
      border: 1px solid $color-light-shadow;

      &:hover::before {
        position: absolute;
        top: -40px;
        left: 50%;
        z-index: 10;
        padding: 2px 10px;
        content: attr(data-color);
        background-color: $color-white;
        border-radius: 5px;
        box-shadow: 0 0 10px $color-shadow;
        transform: translateX(-50%);
      }
    }
  }

  .tags {
    padding: 0 15px;

    .all-tags {
      position: absolute;
      right: -$width - 30 - 10;
      width: $width - 30px;
      padding: 0 15px;
      background-color: $color-white;

      &.active {
        right: 0;
      }

      .close-all-tags {
        $size: 25px;

        width: $size;
        height: $size;
        padding: 0;
        margin: 5px;
        color: $color-blue;
        border: 1px solid $color-blue;
        border-radius: 50%;

        &:hover {
          color: $color-white;
          background-color: $color-blue;
        }
      }
    }

    .tag {
      margin: 0 2px;
    }

    .add-image-tag {
      $size: 25px;

      width: $size;
      height: $size;
      padding: 0;
      margin-left: 5px;
      color: $color-blue;
      border: 1px solid $color-blue;
      border-radius: 50%;

      &:hover {
        color: $color-white;
        background-color: $color-blue;
      }
    }
  }
}
