@import '../scss/base.scss';

.tags{
  white-space: nowrap;
  overflow: auto;
  text-align: left;

  &::-webkit-scrollbar{
    height: 0;
  }

  .tag{
    background-color: $color-blue;
    line-height: 30px;
    border-radius: 10px;
    font-size: 0.8rem;
    margin-left: 5px;
    padding: 2px 12px;
    transition: all 0.4s ease;
    cursor: pointer;

    &:hover{
      background: $color-warning;
    }
  }
}