@import '../scss/base.scss';

.card-box{
  background-color: $color-white;
  width: 360px;
  height: 280px;
  display: inline-block;
  margin: 10px;
  position: relative;

  .picture{
    height: calc(100% - 50px);
    overflow: hidden;
    position: relative;

    img{
      height: 100%;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      cursor: pointer;
    }
    
    &:hover{
      img{
        transform: translate(-50%, -50%) scale(1.2);
      }
      .add-tag{
        opacity: 1;
        cursor: pointer;
      }
    }
  }

  .info-box{
    width: 100%;
    height: 50px;

    .tags{
      height: 30px;
      white-space: nowrap;
      overflow: auto;

      &::-webkit-scrollbar{
        height: 0;
      }

      .tag{
        background-color: $color-blue;
        line-height: 30px;
        border-radius: 10px;
        font-size: 0.8rem;
        margin-left: 5px;
        padding: 2px 12px;
        cursor: pointer;

        &:hover{
          background: $color-yellow;

        }
      }
    }

    .infos{
      line-height: 20px;
      height: 20px;
      background-color: $color-shadow;
      margin: 0;
    
      .info{
        padding: 0 8px;
        display: inline-block;
        cursor: pointer;

        &:hover{
          background-color: $color-shadow;
        }
      }
    }
  }
}
