@import '../scss/base.scss';

.cards-box {
  padding: 20px;

  .cards {
    text-align: center;

    .default-show {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100vh;

      .logo {
        width: 200px;
        margin: 50px;
        border: none;
        opacity: 0.8;
        transform: rotate(45deg);

        &:hover {
          opacity: 1;
        }

        img {
          width: 100%;
        }
      }

      .add-path {
        border: none;

        h1 {
          color: inherit;
        }
      }
    }
  }

  .scroll-to-top {
    $size: 35px;

    position: fixed;
    right: 20px;
    bottom: -$size - 10px;
    z-index: 50;
    width: $size;
    height: $size;
    overflow: hidden;
    border-radius: $size / 2;
    box-shadow: 0 0 10px $color-shadow;

    .icon {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    &.active {
      bottom: 20px;
    }

    &:hover {
      background-color: $color-blue;

      .icon {
        color: $color-white;
      }
    }
  }
}
