@import '../scss/base.scss';

.context-menu-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  opacity: 0;
  display: none;
  z-index: 200;

  &.active {
    opacity: 1;
    display: block;
  }

  .context-box {
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: $color-white;
    box-shadow: 0 0 20px $color-shadow;

    .menu-item {

      &:hover {
        background-color: $color-blue;
      }
    }


  }
}