@import '../scss/base.scss';

.input-box{
  .input-tip{
    display: inline-block;

  }

  input{
    border: 1px solid $color-shadow;
    border-width: 0 0 1px 0;
    background-color: transparent;
    transition: all 0.4s ease;
    display: inline-block;

    &:focus{
      outline: none;
      border-color: $color-blue;
    }

  }
}