@import '../scss/base.scss';

.nav-box {
  $max-width: 150px;

  height: 100%;
  opacity: 0;

  button {
    padding: 0;
    margin: 0;
    border: 0;
  }

  .nav-bar {
    $min-width: 50px;
    $btn-height: 30px;

    width: $min-width;
    height: 100%;
    padding-top: 1px;
    overflow: hidden;
    background-color: lighten($color: $color-blue, $amount: 30);

    .nav-btn {
      display: flex;
      flex-direction: row;
      width: $max-width;
      height: $btn-height;
      margin: 20px 0;

      .icon {
        width: $btn-height;
        height: $btn-height;
        margin: 0 10px;
        overflow: hidden;
        line-height: $btn-height;
        color: $color-black;
        text-align: center;
        background-color: $color-white;
        border-radius: $btn-height / 2;
      }

      .text {
        margin: 0 10px;
        line-height: $btn-height;
      }

      &.logo {
        .icon {
          & > img {
            width: 100%;
            height: 100%;
          }
        }
      }

      &.active,
      &:hover {
        .icon {
          color: $color-white;
          background-color: $color-blue;
        }

        .text {
          color: $color-blue;
        }
      }

      &.menu {
        margin: {
          top: 10px;
          bottom: 40px;
        }

        .icon {
          background-color: transparent;
          border-radius: 0;

          &:hover {
            color: $color-blue;
            background-color: transparent;
          }
        }
      }
    }
  }

  .nav-bg {
    position: fixed;
    top: 0;
    left: 100%;
    width: 100vw;
    height: 100vh;
    background-color: transparent;
  }

  &.show {
    opacity: 1;
  }

  &.expand {
    .nav-bar {
      width: $max-width;
    }

    .nav-bg {
      left: $max-width;
    }
  }
}
