@import '../scss/base.scss';

.search-box{
  position: fixed;
  z-index: 100;
  top: 20px;
  right: -300px;
  background-color: $color-white;
  box-shadow: 0 0 10px $color-shadow;
  transition: all 0.4s ease;
  padding: 0 10px;
  border-radius: 2px;

  &.active{
    right: 10px;
  }

  .search-input {
    border: none;
  }

  .search-icon {
    margin: 0 10px;

    &:hover{
      color: darken($color: $color-black, $amount: 20)
    }
  }
}