@import '../scss/base.scss';

.search-box{
  $width: 218px;
  position: fixed;
  width: $width;
  max-height: 500px;
  overflow: hidden;
  z-index: 100;
  top: 20px;
  right: -300px;
  background-color: $color-white;
  box-shadow: 0 0 10px $color-shadow;
  transition: all 0.4s ease;
  padding: 0 10px;
  border-radius: 2px;

  &.active{
    right: 10px;
  }

  .search-input {
    border: none;
  }

  .search-icon {
    margin-left: 10px;

    &:hover{
      color: darken($color: $color-black, $amount: 20)
    }
  }

  ul.search-result {
    max-width: $width;
    margin: 0;
    list-style: none;
    padding: 0;

    li {
      line-height: 1em;
      margin: 4px 0;
    }
  }
}