@import '../scss/base.scss';

.setting {
  padding: 0 20px;

  h1 {
    text-align: center;
  }

  button {
    padding: 7px 22px;
    color: $color-white;
    background-color: $color-blue;
    border: none;
    border-radius: 2px;

    &:hover {
      box-shadow: 0 0 10px $color-blue;
    }

    &:active {
      box-shadow: 0 0 1px $color-blue;
    }
  }

  ul.paths {
    li.path {
      list-style-type: none;

      &:hover {
        color: $color-blue;
      }

      button {
        $size: 25px;

        width: $size;
        height: $size;
        padding: 0;
        margin-right: 10px;
        color: inherit;
        background-color: $color-white;
        border-color: inherit;
        border-radius: $size / 2;

        &:hover {
          color: $color-red;
          box-shadow: 0 0 0 transparent;
        }
      }
    }

    li.add-path {
      padding-left: 33px;
      list-style-type: none;
    }
  }
}
