@import '../scss/base.scss';

.tag {
  $tag-height: 26px;

  @mixin tag-color($color, $bg-color) {
    color: $color;
    background-color: $bg-color;
    border: 1px solid $color;

    span {
      color: $color;
    }
  }

  display: inline-block;
  width: auto;
  height: $tag-height;
  padding: 0 10px;
  margin: 10px 10px 15px;
  font-size: small;
  font-weight: 200;
  line-height: $tag-height;
  border-radius: $tag-height / 2;

  @include tag-color($color-blue, $color-white);

  .text {
    padding: 0 0.5em;
  }

  .close {
    display: inline-block;
    width: 0;
    overflow: hidden;
    color: $color-white;
  }

  &:hover {
    @include tag-color($color-white, $color-blue);
  }

  &.delete {
    @include tag-color($color-white, $color-blue);

    .close {
      width: auto;
      padding-left: 5px;
    }
  }
}
