@import '../scss/base.scss';

.tag {
  display: inline-block;
  background-color: $color-blue;
  color: $color-white;
  margin: 5px 10px;
  border-radius: 1em;
  transition: all 0.4s ease;

  .text{
    padding: 0 0.5em;
    color: $color-white;
  }
}