@import '../scss/base.scss';

.tag {
  $tag-height: 26px;

  @mixin tag-color($color, $bg-color) {
    color: $color;
    border: 1px solid $color;
    background-color: $bg-color;

    span {
      color: $color;
    }
  }

  display: inline-block;
  margin: 10px 10px 15px;
  padding: 0 10px;
  height: $tag-height;
  width: auto;
  border-radius: $tag-height / 2;
  transition: all 0.2s ease;
  font-size: small;
  line-height: $tag-height;
  font-weight: 200;

  @include tag-color($color-blue, $color-white);

  &:hover {
    @include tag-color($color-white, $color-blue);
  }

  &.delete {
    // @include tag-color($color-white, $color-red);
    @include tag-color($color-white, $color-blue);

    .close {
      padding-left: 5px;
      width: auto;
    }
  }

  .text{
    padding: 0 0.5em;
  }

  .close {
    display: inline-block;
    width: 0px;
    overflow: hidden;
    color: $color-white;
    transition: all 0.2s ease;
  }
}