@import '../scss/base.scss';

.tag-setting {
  padding: 0 20px;

  h1{
    text-align: center;
  }

  .tags {
    text-align: center;

    .add-tag {
      display: inline-block;
      border: 1px solid $color-blue;
      padding: 0 5px;
      border-radius: 13px;
      height: 26px;
      line-height: 26px;

      input {
        margin: 0 10px;
        width: fit-content;
        color: $color-blue;
        border: none;

        &::placeholder{
          color: lighten($color: $color-blue, $amount: 10);
        }

        &:focus {
          border-color: $color-blue;
        }
      }

      .icon {
        color: $color-blue;
      }
    }
  }
}