@import '../scss/base.scss';

.tag-setting {
  .tags {
    .tag{
      border-top: dashed 1px $color-shadow;

      &:first-child{
        border-top: none;
      }

      p {
        color: $color-black;
      }

      button {
      }
    }
  }
}