// color

$color-light-shadow: rgba(0, 0, 0, 0.2);
$color-shadow: rgba(0, 0, 0, 0.5);
$color-deep-shadow: rgba(0, 0, 0, 0.8);
$color-white: #ffffff;
$color-blue: #3ac6f0;
$color-red: #f00;
$color-yellow: #ff0;
$color-black: #737373;

// animation


