@import './lib/normalize.css';

// color

$color-primary: #00f;
$color-danger: #f00;
$color-warning: #ff0;

.primary{
  color: $color-primary;
}

.btn{
  padding: 0 5px;
  background-color: $color-danger;
  margin: 0 10px;
}

